/* - Mobile: 375px
- Desktop: 1440px */

/* GLOBAL */
html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    background: var(--light-gray-cyan);
    position: relative;
}



* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary-color: hsl(172, 67%, 45%);
    --white: hsl(0, 0%, 100%);
    --black: #000;
    --dark-gray-cyan: hsl(183, 100%, 15%);
    --med-dark-gray-cyan: hsl(186, 14%, 43%);
    --med-dark-gray-cyan2: hsl(184, 14%, 56%);
    --light-gray-cyan: hsl(185, 41%, 84%);
    --light-gray-cyan2: hsl(189, 41%, 97%);
    --yellow: #ffe121;
    --transition: .3s ease;
    --dark-blue: #1f2830; 
}

h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 3rem; 
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2rem;   
}

p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #000;
}
li {
    font-size: 1.5rem;
}

.site-container {

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.input {
    height: 32px;
    width: 90%;
    font-size: 2.4rem;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 3px solid rgba(255, 0, 0, 0);
    background-color: hsl(180, 26%, 95%);
    text-align: right;
    padding-right: 2rem;
    font-family: 'Space Mono', monospace;
    color:var(--dark-gray-cyan);
    font-weight: bold;
}
.input:focus {
    border: 3px solid var(--primary-color);
}
.input::placeholder {
      color:var(--dark-gray-cyan);  
}

.error {
      border: 3px solid red;  
}

.title-text {
    font-size: 18px;
    color: var(--med-dark-gray-cyan);
    margin-bottom: 5px;
}

.person-text {
    font-size: 14px;
    color: #999;
    font-weight: 400;
}

.amount-number {
    color: var(--primary-color);
    font-size: 4rem;
}

.white {
    color: var(--white);
}

button.reset-btn {
     width: 100%;  
     height: 40px;
     font-size: 18px;
     border-radius: 5px;
     outline: none;
     border-radius: none;
     background-color: var(--dark-gray-cyan);
     color: #fff;
     border: 1px solid #fff;
     text-transform: uppercase;
     transition: all 0.3s ease;

}

button.reset-btn:hover {
    cursor: pointer;
    color: #fff;
    outline: none;
    background-color: var(--primary-color);
    border: 1px solid rgba(255, 255, 255, 0);
}

.btn-wrap {
    margin-bottom: 40px;
}




/* END GLOBAL */

.app-wrapper {
    background: var(--white);
    width: 90%;
    max-width: 930px;
    border-radius: 3rem;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 20px;
    box-shadow: 10px 10px 20px rgba(34, 32, 32, 0.37);
}



.tip-input-container,
.tip-amount-container {
    height: 100%;
    width: 48%;
}


/* LEFT SIDE */
.tip-input-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;      
}

.tip-amount-container {
    background-color: var(--dark-gray-cyan);
    border-radius: 2rem;
    width: 50%;
    height: 100%;
    align-self: center;

}

.bill-container {
    margin-bottom: 30px;
}

.select-tip-container {
    margin-bottom: 30px; 
}

.number-of-people-container {
    margin-bottom: 20px;
}

.percent-selector-container {
    width: 96%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .7rem .3rem;
}

.percent-selector {
    width: 100%;
    height: 35px;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: var(--dark-gray-cyan);
    color: var(--white);
    font-weight: bold;
    font-family: 'Space Mono', monospace;
    cursor: pointer;
    transition: all 0.2s ease;
}

.percent-selector-btn {
    
}
.percent-selector-btn:hover {
    background-color: var(--primary-color); 
}

.percent-selector-btn.active {
    background-color: var(--primary-color); 
}



input.percent-selector {
    height: 29px;
    outline: none;
    border: none;
    border: 3px solid rgba(255, 0, 0, 0);
    background-color: var(--light-gray-cyan2);
    background-color: var(--dark-gray-cyan);
    text-align: center;
    width: calc(95%);
    color:var(--white);
    font-weight: bold;
    font-size: 1.8rem;
}

input.percent-selector:hover {
    cursor: pointer;
}

input.percent-selector::placeholder {
  color:var(--dark-gray-cyan);
  color:var(--white);
  /* font-size: 1.2em; */
} 
input.percent-selector:hover input.percent-selector::placeholder {
  color:var(--dark-gray-cyan);
  color:#000;
  /* font-size: 1.2em; */
} 

input.percent-selector:focus {
    border: 3px solid var(--primary-color);
}

.input-amt {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.input-error {
    color: red;
    opacity: 0;
    font-style: italic;
    font-weight: 400;
}


/* LEFT SIDE END */


.tip-amount-wrapper {
    width: 89%;
    height: 100%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}



.amount-total-container {
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.amount-total-row-wrap {
    margin-top: 40px;
}

.amount-total-row {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-bottom: 30px;

}


/* MEDIA QUERIES */
@media screen and (max-width: 680px) {
    .percent-selector-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .app-wrapper {
        display: block;
    }
    .tip-input-container {
        width: 100%;
    }

    .tip-amount-container {
       width: 100%;  
    }

    input.percent-selector{
    width: calc(97%);
        display: block;  
    }
}